<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Debug-only test host; never ships in release builds. -->
        <activity
            android:name="com.watnapp.etipitaka.plus.TestFragmentHostActivity"
            android:exported="false" />
    </application>
</manifest>
